@{
    ViewBag.Title = "Get Geo Location";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/GoogleMapsCss")

<div class="row">
    <h2>
        Google Maps Geo Location
        <div class="devsite-product-logo-container">
            <img src="https://www.gstatic.com/images/branding/product/1x/maps_64dp.png" class="devsite-product-logo" alt="Google Maps APIs">
        </div>
    </h2>
</div>
<br />
<br />
<div>
    <div class="row">
        <div class="col-md-4">
            <div class="row form-horizontal">
                <div class="form-group">
                    @Html.Label("Location: ", htmlAttributes: new { @class = "control-label col-md-1" })
                    <div class="col-md-10">
                        <input type="text" class="form-control fixControl" id="txtLocation" placeholder="Enter a location" />
                    </div>
                </div>
            </div>
            <div class="row form-horizontal">
                <div class="form-group">
                    @Html.Label("Latitude: ", htmlAttributes: new { @class = "control-label col-md-1" })
                    <div class="col-md-10">
                        <input type="text" class="form-control fixControl" id="txtLatitude" placeholder="Latitude" readonly />
                    </div>
                </div>
            </div>
            <div class="row form-horizontal">
                <div class="form-group">
                    @Html.Label("Longitude: ", htmlAttributes: new { @class = "control-label col-md-1" })
                    <div class="col-md-10">
                        <input type="text" class="form-control fixControl" id="txtLongitude" placeholder="Longitude" readonly />

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-5">
                        <input type="button" class="form-control" id="btnSave" value="Save">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div id="map"></div>
        </div>
    </div>
</div>
<br />
<div id="infowindow-content">
    <img src="" width="16" height="16" id="place-icon">
    <span id="place-name" class="title"></span><br>
    <span id="place-address"></span>
</div>

@section scripts{

    @Scripts.Render("~/bundles/GoogleMapsCustom");
    <script>
        $(document).ready(function () {

            $("#btnSave").click(function () {

                if (txtLatitude.value != '' && txtLongitude.value != '') {

                    $.ajax({
                        url: '@Url.Action("Save", "GMaps")',
                        type: "POST",
                        dataType: "json",
                        data: {
                            Latitude: txtLatitude.value,
                            Longitude: txtLongitude.value
                        },
                        success: function (data) {
                            alert(data.Status);
                            if (data.Status === 'Success') {
                                document.getElementById('txtLatitude').value = '';
                                document.getElementById('txtLongitude').value = '';
                                document.getElementById('txtLocation').value = '';
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            //debugger;
                            alert(textStatus);
                        }
                    });
                }

            });
        });
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmDZ1txsLQII-jXAYMIPPUtSl6QJm-GJA&libraries=places&callback=initMap">
    </script>
}